<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<title>Josefs Ovve</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
	
	<script type=text/javascript src="{{ url_for('static', filename='js/custom.js') }}"></script>

	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

</head>
<body>

	<div id="root-container">
		<div class="container">
			<div class="row u-full-width centered-content">
				<h1>Josefs Ovve</h1>
				<p>Här kan du välja vad som ska visas på Josefs Ovve!</p>
			</div>

			<div class="row u-full-width border">
				<form class="container" id="text" method="post">
					<input type="hidden" name="mode", value="text">
					<div class="row centered-content">
						<h3>Text</h3>
					</div>
					<div class="row">
						<div class="six columns centered-content">
							<p class="margin-y-5px">Färg</p>
							<input type="color" name="color" value="{{ state.text.color }}">
						</div>
						<div class="six columns centered-content">
							<p class="margin-y-5px">Text</p>
							<input type="text" name="text" value="{{ state.text.text }}" class="u-full-width">
						</div>
					</div>  
					<div class="row">
						<div class="six columns offset-by-six centered-content">
							<input class="save-button" type="submit" id="Spara" value="Spara">
						</div>
					</div>
				</form>
			</div>

			<div class="row u-full-width border">
				<form class="container" id="paint" method="post">
					<input type="hidden" name="mode", value="paint">
					<input type="hidden" name="pattern" value="{{ state['paint']['pattern'] }}">
					<div class="row centered-content">
						<h3>Måla</h3>
					</div>
					<div class="row">
						<div class="row centered-content">
							<p class="margin-y-5px">Mönster</p>
							<table style="width: 100%">
								{% for posy in range(10) %}
								<tr class="width: 10%">
									{% for posx in range(15) %}
									<th id="{{ posx }}.{{ posy }}" class="cell" onclick="javascript:toggle_cell({{ posx }}, {{ posy }})">
									</th>
									{% endfor %}
								</tr>
								{% endfor %}
							</table>
						</div>
						
						<div class="row">
							<div class="six columns centered-content">
								<p class="margin-y-5px">Färg</p>
								<input type="color" name="color" id="pattern_color_button" value="{{ state.paint.color }}" onchange="register_color()">
							</div>
							<div class="six columns centered-content">
								<input class="save-button" type="submit" id="Spara" value="Spara">
							</div>		
						</div>
					</div>
				</form>
			</div>

			<div class="row u-full-width border">
				<form class="container" id="waves" method="post">
					<input type="hidden" name="mode", value="waves">
						<div class="row centered-content">
							<h3>Vågor</h3>
						</div>
						<div class="row">
							<div class="six columns centered-content">
							<p class="margin-y-5px">Färg 1</p>
							<input type="color" name="color1" value="{{ state.waves.color1 }}">
						</div>
						<div class="six columns centered-content">
							<p class="margin-y-5px">Färg 2</p>
							<input type="color" name="color2" value="{{ state.waves.color2 }}">
						</div>
					</div>
					<div class="row">
						<div class="six columns offset-by-six centered-content">
							<input class="save-button" type="submit" id="Spara" value="Spara">
						</div>
					</div>
				</form>
			</div>

			<div class="row u-full-width border">
				<form class="container" id="stars" method="post">
					<input type="hidden" name="mode", value="stars">
					<div class="row centered-content">
						<h3>Stjärnor</h3>
					</div>
					<div class="row">
						<div class="six columns centered-content">
							<p class="margin-y-5px">Färg 1</p>
							<input type="color" name="color1" value="{{ state.stars.color1 }}">
						</div>
						<div class="six columns centered-content">
							<p class="margin-y-5px">Färg 2</p>
							<input type="color" name="color2" value="{{ state.stars.color2 }}">
						</div>
					</div>
					<div class="row">
						<div class="six columns offset-by-six centered-content">
							<input class="save-button" type="submit" id="Spara" value="Spara">
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="container">
  	  	  <div class="u-pull-right">
    		<p>Senaste hearbeat: {{ time }} sekunder</p>
  	  	  </div>
		</div>
	</div>

</body>
</html>
